if SHIELD_SPACE_INVADER_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Space Invader"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPACE_INVADER_LEFT || SHIELD_SPACE_INVADER_RIGHT

config ZMK_SPLIT
    default y

endif
